<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/testwc/layout}"
>

<th:block layout:fragment="content">
    <style>

        input {
            margin: 5px 0;
            height: 50px;
            border: 4px solid #ffc107;
        }

        .product-register-main {
            width: 70%;
        }

        .input-date {
            width: 300px;
        }

        .product-register-wrapper {
            width: 80%;
            margin: 0 auto;
        }

        .alert-errors {
            background-color: #ffc107;
            font-weight: bold;
        }

    </style>

    <div class="d-flex flex-column product-register-main">
        <label class="sub-title">상품 등록</label>
        <div>김깨비 펀드매니저님</div>

        <form method="post" th:action="@{/product/write}" th:object="${productDto}">
            <div class="d-flex flex-column product-register-wrapper">
                <div style="width:100%;">
                    <input type="text" th:field="*{title}" style="width:100%;" placeholder="상품제목"></input>
                </div>

                <div class="d-flex justify-content-between">
                    <div>
                        <input type="date" th:field="*{crowdStart}" data-placeholder="시작일" class="input-date"></input>
                    </div>
                    <div>
                        <input type="date" th:field="*{crowdEnd}" data-placeholder="종료일" class="input-date"></input>
                    </div>
                    <div>
                        <input type="number" th:field="*{goal}" placeholder="목표 금액" style="width:400px;"></input>
                    </div>
                </div>

                <div>
                    <input type="text" th:field="*{description}" style="width:100%;height:100px"
                           placeholder="상품설명을 입력해주세요."></input>
                </div>

                <div>
                    <input type="file" name="thumbnailImg" accept="image/png, image/gif, image/jpeg"
                           enctype="multipart/form-data"/>
                </div>
            </div>

            <div th:replace="form_errors :: formErrorsFragment"></div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-warning" style="margin-top:15px;">등록</button>
            </div>
        </form>

    </div>
    </body>
</th:block>
</html>