<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/testwc/layout}"
>
<th:block layout:fragment="content">
    <style>
        .gap{
            gap:5px;
        }
        input{
            margin: 5px 0;
            height: 30px;
            border: 4px solid #ffc107;
        }

    </style>
    <label class="sub-title">상품 등록</label>
    <div>김깨비 펀드매니저님</div>
    <form method=post action="/product/write">

        <div>
            <div>
                <input type="text" name="title" style="width:500px" placeholder="제목"></input>
            </div>
            <div>
                <div class="d-flex gap">
                    <input type="text" name="crowdStart" placeholder="시작일" ></input>
                    <input type="text" name="crowdEnd" placeholder="종료일"></input>
                    <input type="number" name="goal" placeholder="목표 금액"></input>
                </div>
            </div>
            <div>
                <input type="text" name="description" style="width:500px;height:100px" placeholder="내용을 입력해주세요."></input>
            </div>
        </div>
        <button type="submit" class="btn btn-warning">등록</button>


    </form>

    </body>
</th:block>
</html>