.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 30px;
}

.menu-wrapper {
  display: flex;
}

.menu-idea {
  font-size: 18px;
  padding-right: 10px;
}

.menu-product {
  font-size: 18px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-input {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.icon-bell {
  width: 22px;
  height: 22px;
  margin-top: 2px;
  padding-right: 5px;
}

.icon-move {
  width: 22px;
  height: 22px;
  margin-top: 2px;
  padding-right: 5px;
}
.img-wrapper {
  display: flex;
  align-items: center;
}

.sample {
  width: 195px;
  height: 100px;
  padding-left: 30px;
  padiing-right: 100px;
}

.info-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 30px;
}

.account-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.account-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.charge {
  font-size: 18px;
  padding-right: 8px;
}

.charge-button {
  background-color: #c8b398;
  font-size: 12px;
  padding: 4px 13px;
  border-radius: 7px;
  color: #fff;
}

.invest-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e6e6;
  margin-bottom: 20px;
  width: 100%;
}

.invest-info {
  display: flex;
  margin-bottom: 10px;
}

.invest {
  font-size: 18px;
}

.invest-people-wrapper {
  padding: 5px 30px;
}

.invest-people {
  padding-right: 5px;
}

.invest-name {
  font-size: 18px;
  font-weight: bold;
}

.invest-info-wrapper {
  padding: 30px;
  width: 100%;
}

.invest-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.invest-box {
  width: 400px;
  height: 200px;
  background: #e8e6e6;
}

.invest-boarder {
  padding: 0 20px;
}

.invest-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 10px;
  border-bottom: 1px solid black;
}

.box-wrapper {
  display: flex;
}
