<!DOCTYPE html>
<html
        layout:decorate="~{/testwc/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
>
<th:block layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <style>
        #receipt {
            border-bottom: solid;
            padding: 30px;
        }
    </style>
    <body>
    <div>
        <div style="border-bottom:solid;margin:10px;">
            <h4>투자 완료</h4>

        </div>
        <div id="receipt" class="d-flex flex-column align-items-center">
            <div>
                <img alt="" src="https://picsum.photos/id/237/200/300" style="width:300px;height:250px">
            </div>
            <div style="padding-top:20px">
                <h5><---> 상품에 ---원 투자 완료되었습니다.</h5>
            </div>
        </div>
        <div style="text-align:right; padding-top:10px">
            <h5> 충전금 잔액 : 10000원 </h5>
        </div>
        <div style="text-align: center">
            <a href="/product/list">
                <button class="btn btn-warning" type="submit">상품 목록</button>
            </a>
<!--            <a href=../order/form/${encId}> &lt;!&ndash;../order/form/${encId} &ndash;&gt;-->
            <a th:href="@{|../order/update/${encId}|}"> <!--../order/form/${encId} -->
                <button class="btn btn-warning" type="submit">마이페이지</button>
            </a>
        </div>
    </div>
    <script th:inline="javascript">
        toastr.options = {
            closeButton: false,
            debug: false,
            newestOnTop: false,
            progressBar: false,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function errorModal(msg) {
            toastr["error"](msg);
        }

        function successModal(msg) {
            toastr["success"](msg);
        }

        const params = /*[[ ${param} ]]*/ null;

        if (params.errMsg) {
            errorModal(params.errMsg);
        }

        if (params.msg) {
            successModal(params.msg);
        }
    </script>
    </body>
</th:block>
</html>