<!DOCTYPE html>
<html
        layout:decorate="~{/testwc/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
>
<style>
    img {
        width: 300px;
        height: 250px;
        padding: 10px;
    }

</style>
<th:block layout:fragment="content">
    <th:block th:replace="/order/order_head :: orderHeadFragment"></th:block>
    <div class="d-flex flex-column align-items-center wrapper">
        <div class="title" style="text-align:left;">투자 완료</div>
        <div class="order-main" style="justify-content: center">
            <div class="d-flex flex-column align-items-center">
                <img alt="투자 영수증"
                     src="/img/kb.png">
                <span style="padding-top:10px"
                      th:text="|<${product.title}> 상품에 ${cost}원 투자 완료되었습니다.|"></span>
            </div>
        </div>
        <div id="tick" style="margin-top:10px;"></div>
        <div class="d-flex" style="padding: 10px 0;justify-content: right;width: 70%;">
            <span class="invest-span">충전금 잔액 : <span style="color:red; font-size:larger" th:text="${user.money}"></span>원</span>
        </div>
        <div class="d-flex justify-content-between" style="padding:10px; width:22%">
            <a href="/product/list">
                <button class="btn btn-warning" type="submit">상품 목록</button>
            </a>
            <!--            <a href=../order/form/${encId}> &lt;!&ndash;../order/form/${encId} &ndash;&gt;-->
            <a href="/"> <!--../order/form/${encId} -->
                <button class="btn btn-warning" type="submit">메인 페이지</button>
            </a>
        </div>
    </div>
    <script>
        $(function() {
            let count = 10;
            let tickInterval = setInterval(timer, 1000); // 1초마다 계속 불러옴
            timer();
            function timer() {
                if(count == 0) {
                    location.href="/product/list";
                }
                if(count > 0) {
                    let message = "초 후에 상품 리스트로 이동합니다";
                    let tickMessage = count + message;
                    $("#tick").html(tickMessage);
                    count--;
                } else {
                    clearInterval(tickInterval);
                }
            }
        });
    </script>
    <script th:inline="javascript">
        toastr.options = {
            closeButton: false,
            debug: false,
            newestOnTop: false,
            progressBar: false,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function errorModal(msg) {
            toastr["error"](msg);
        }

        function successModal(msg) {
            toastr["success"](msg);
        }

        const params = /*[[ ${param} ]]*/ null;

        if (params.errMsg) {
            errorModal(params.errMsg);
        }

        if (params.msg) {
            successModal(params.msg);
        }
    </script>
    </body>
</th:block>
</html>