<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/testwc/layout}"
>

<th:block layout:fragment="content">
    <th:block th:replace="/order/order_head :: orderHeadFragment"></th:block>
    <div class="d-flex flex-column align-items-center wrapper">
        <div class="title">X와 Y의 결합상품</div>
        <div class="form-order">
            <div>
                <img src="https://picsum.photos/id/237/400/300" alt="">
            </div>
            <div>
                <div>
                    <label class="sub-title">모인금액</label>
                    <div>700,000원</div><!-- 하드코딩 -->
                </div>
                <div>
                    <label class="sub-title">남은기간</label>
                    <div>10일</div><!-- 하드코딩 -->
                </div>
                <div>
                    <label class="sub-title">담당 펀드매니저</label>
                    <div>김깨비 펀드매니저님</div><!-- 하드코딩 -->
                </div>
                <form method="post" action="/order/send">
                    <label class="sub-title">투자금액</label>
                    <div>
                        <input type="number" name="cost" class="input-cost">
                        <button type="submit" class="btn btn-warning">투자</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="order-desc">
        ~ 아이디어를 기반으로 개발된 펀드 상품입니다.<br>
        ~ 상품 ~%<br>
        ~ 상품 ~%<br>
        예상 수익률은 ~%이고, 예상 위험도는 ~입니다.<br>
        비슷한 종목으로 구성된 펀드를 운용했을때 ~%의 수익률을 달성한 바 있습니다.<br>
    </div>

</th:block>
</html>