<!--<!DOCTYPE html>-->
<!--<html-->
<!--        layout:decorate="~{/testwc/layout}"-->
<!--        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--        xmlns:th="http://thymeleaf.org"-->
<!--&gt;-->
<!--<th:block layout:fragment="content">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <title>Title</title>-->
<!--    </head>-->
<!--    <style>-->
<!--        #receipt {-->
<!--            border-bottom: solid;-->
<!--            padding: 30px;-->
<!--        }-->

<!--        .container{-->
<!--            padding: 0 20px;-->
<!--        }-->

<!--    </style>-->
<!--    <body>-->
<!--    <div class ="container">-->
<!--        <div style="border-bottom:solid;margin:10px;">-->
<!--            <h4>투자 완료</h4>-->

<!--        </div>-->
<!--        <div id="receipt" class="d-flex flex-column align-items-center">-->
<!--            <div>-->
<!--                <img alt="" src="https://picsum.photos/id/237/200/300" style="width:300px;height:250px">-->
<!--            </div>-->
<!--            <div style="padding-top:20px">-->
<!--                <div th:text="|${user.name}님|"></div>-->
<!--                <span th:text="|${product.title} 상품에 ${cost}원 투자 완료되었습니다.|">-->
<!--            </span>-->
<!--            </div>-->
<!--            <div style="text-align:right; padding-top:10px">-->
<!--                <h5> 충전금 잔액 : 10000원 </h5>-->
<!--            </div>-->
<!--            <div style="text-align: center">-->
<!--                <a href="/product/list">-->
<!--                    <button class="btn btn-warning" type="submit">상품 목록</button>-->
<!--                </a>-->
<!--                &lt;!&ndash;            <a href=../order/form/${encId}> &lt;!&ndash;../order/form/${encId} &ndash;&gt;&ndash;&gt;-->
<!--                <a th:href="@{|../order/update/${encId}|}"> &lt;!&ndash;../order/form/${encId} &ndash;&gt;-->
<!--                    <button class="btn btn-warning" type="submit">마이페이지</button>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </body>-->
<!--</th:block>-->
<!--</html>-->


<!DOCTYPE html>
<html
        layout:decorate="~{/testwc/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
>
<style>
    img {
        width: 300px;
        height: 250px;
        padding: 10px;
    }
</style>
<th:block layout:fragment="content">
    <th:block th:replace="/order/order_head :: orderHeadFragment"></th:block>
    <div class="d-flex flex-column align-items-center wrapper">
        <div class="title" style="text-align:left;">투자 완료</div>
        <div class="order-main" style="justify-content: center">
            <div class="d-flex flex-column align-items-center">
                <img alt="" src="https://picsum.photos/id/237/200/300">
                <span th:text="|${user.name}님|"></span>
                <span class="invest-msg" th:text="|<${product.title}> 상품에 ${cost}원 투자 완료되었습니다.|"></span>
            </div>
        </div>
        <div id="tick" style="margin-top:10px;"></div>
        <div class="d-flex" style="padding: 10px 0;justify-content: right;width: 70%;">
            <span class="invest-span">충전금 잔액 : <span style="color:red; font-size:larger" th:text="${user.money}"></span>원</span>
        </div>
        <div style="text-align: center">
            <a href="/product/list">
                <button class="btn btn-warning" type="submit">상품 목록</button>
            </a>
            <!--            <a href=../order/form/${encId}> &lt;!&ndash;../order/form/${encId} &ndash;&gt;-->
            <a th:href="@{|../order/update/${encId}|}"> <!--../order/form/${encId} -->
                <button class="btn btn-warning" type="submit">마이페이지</button>
            </a>
        </div>
    </div>
    <script>
        $(function() {
            let count = 10;
            let tickInterval = setInterval(timer, 1000); // 1초마다 계속 불러옴
            timer();
            function timer() {
                if(count == 0) {
                    location.href="/product/list";
                }
                if(count > 0) {
                    let message = "초 후에 상품 리스트로 이동합니다";
                    let tickMessage = count + message;
                    $("#tick").html(tickMessage);
                    count--;
                } else {
                    clearInterval(tickInterval);
                }
            }
        });
    </script>
    <script th:inline="javascript">
        toastr.options = {
            closeButton: false,
            debug: false,
            newestOnTop: false,
            progressBar: false,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function errorModal(msg) {
            toastr["error"](msg);
        }

        function successModal(msg) {
            toastr["success"](msg);
        }

        const params = /*[[ ${param} ]]*/ null;

        if (params.errMsg) {
            errorModal(params.errMsg);
        }

        if (params.msg) {
            successModal(params.msg);
        }
    </script>
    </body>
</th:block>
</html>