<!DOCTYPE html>
<html
        layout:decorate="~{/testwc/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
>

</style>
<th:block layout:fragment="content">
    <th:block th:replace="/order/order_head :: orderHeadFragment"></th:block>
    <div class="d-flex flex-column align-items-center wrapper">
        <div class="title" style="text-align:left;">투자 영수증</div>
        <div class="order-main">
            <div class="order-main-left-section">
                <input name="Id" type="hidden" value="${product}">
                <input name="Id" type="hidden" value="${invest}">
                <div>
                    <label class="sub-title">투자할 상품</label>
                    <div th:text="${product.title}" style="font-size:large;font-weight: bold"></div>
                </div>
                <div>
                    <label class="sub-title">투자할 금액</label>
                    <div th:text="|${invest.cost}원|"></div>
                </div>
                <div>
                    <label class="sub-title">충전금 잔액</label>
                    <div th:text="|${user.money}원|"></div>
                </div>
            </div>
            <div class="order-main-right-section">
                <div>투자 시 유의사항</div>
                <div style="margin-top: 20px;font-size: small;">
                    모든 투자에는 기대수익에 상응하는 투자위험이 있음을 유의하셔야 합니다.<br>
                    투자자는 투자결과에 따라 높은 수익을 얻을 수도 있지만, 원금의 100%를 손실할 가능성도 있습니다. <br>
                    와디즈는 온라인소액투자중개서비스를 제공하는 회사로서 투자에 따른 손실 또는 그 위험을 보전해 드리지 못하며, <br>
                    투자에 따른 모든 책임은 각 투자자에게 귀속됩니다. <br>
                    따라서 투자자가 직접 습득한 정보와 자체적인 투자의 의사결정에 따라 투자에 임하실 것을 당부 드립니다.<br>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center" id="invest" style="padding:10px; width:30%">
            <form method="post" th:action ="@{|/order/update/${encId}|}" id="costSendForm">
                <button class="btn btn-warning" id="btn-invest" type="button" style="margin-right:10px">투자</button>
                <input type="hidden" name="cost" th:value="${invest.cost}">
            </form>
            <!--            <a th:href ="@{|/order/update/${encId}|}">-->
            <!--                <button class="btn btn-warning" id="btn-invest" type="button">투자</button>-->
            <!--            </a>-->
            <a href="/product/list">
                <button class="btn btn-warning" type="button">취소</button>
            </a>
        </div>

    </div>
    <script>
        $(function(){
            $(document).on("click", "#btn-invest", function() {
                $("#costSendForm").submit();
            });
        });
    </script>

</th:block>

</html>