<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <link rel="stylesheet" href="../../../../main/resources/css/myPage.css" />
</head>
<body>
<div class="header-wrapper">
  <div class="menu-wrapper">
    <div class="menu-idea">아이디어</div>
    <div class="menu-product">진행중인 상품</div>
  </div>
  <div class="icon-wrapper">
    <div class="icon-input">
      <input />
    </div>
    <div>
      <img
              class="icon-bell"
              src="../../../../main/resources/iamge/깨비.jpg"
              style="width: 20px; height: 20px;"
      />
    </div>
    <div>
      <img
              class="icon-move"
              src="../../../../main/resources/iamge/깨비.jpg"
              style="width: 20px; height: 20px;"
      />
    </div>
  </div>
</div>


<div class="img-wrapper">
  <div>
    <img
            class="sample"
            src="../../../../main/resources/iamge/깨비.jpg"
            style="width: 230px; height: 250px;"
    />
  </div>



  <div class="info-wrapper">
    <div class="account-wrapper">
      <div class="account-info">
        <div class="charge">충전금</div>
        <div class="charge-button">충전하기</div>
      </div>
      <div>170,490원</div>
    </div>
    <div class="invest-wrapper">
      <div class="invest-info">
        <div class="invest">최근 투자상품</div>
      </div>
      <div>A+B 상품</div>
    </div>
  </div>
</div>

<div class="invest-people-wrapper">
  <span class="invest-people">투자자</span>
  <span class="invest-name">김 OO님</span>
</div>

<div class="box-wrapper">
  <div class="invest-info-wrapper">
    <div class="invest-title">투자내역</div>

    <div class="invest-box">
      <div class="invest-boarder">
        <div class="invest-list">
          <div>A+B상품</div>
          <div>-%</div>
        </div>
      </div>
      <div class="invest-boarder">
        <div class="invest-list">
          <div>X+F상품</div>
          <div>-%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="invest-info-wrapper">
    <div class="invest-title">작성한 게시글</div>

    <div class="invest-box">
      <div class="invest-boarder">
        <div class="invest-list">
          <div>요즘 IT 산업 뜨고있던데...</div>
          <div>2023.05.24</div>
        </div>
      </div>
      <div class="invest-boarder">
        <div class="invest-list">
          <div>A 산업과 B산업 관련...</div>
          <div>2023.05.26</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>
</body>
</html>
