<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../../../../main/resources/css/myPageFund.css"/>
</head>
<body>
<div class="header-wrapper">
    <div class="menu-wrapper">
        <div class="menu-idea">아이디어</div>
        <div class="menu-product">진행중인 상품</div>
    </div>
    <div class="icon-wrapper">
        <div class="icon-input">
            <input/>
        </div>
        <div>
            <img

                    class="icon-bell"
                    src="../../../../main/resources/iamge/깨비.jpg"
                    style="width: 20px; height: 20px;"
            />
        </div>
        <div>
            <img
                    class="icon-move"
                    src="../../../../main/resources/iamge/깨비.jpg"
                    style="width: 20px; height: 20px;"
            />
        </div>
    </div>
</div>


<div class="img-wrapper">
    <div>
        <img
                class="sample"
                src="../../../../main/resources/iamge/깨비.jpg"
                style="width: 230px; height: 250px;"
        />
    </div>


    <div class="info-wrapper">
        <div class="account-wrapper">
            <div class="account-info">
                <div class="charge">현재 진행중인 상품</div>

                <form action="#">
                    <select name="product" id="product">
                        <option value="진행상품">현재 진행중인 상품을 골라주세요<</option>
                        <option value="2챠전지">2차전지</option>
                        <option value="NFT">NFT</option>
                        <option value="화장품">화장품</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="invest-table">
            <table class="invest-table">
                <tr>
                    <td>종목</td>
                    <td>X+Z</td>
                </tr>
                <tr>
                    <td>목표금액</td>
                    <td>-원</td>
                </tr>
                <tr>
                    <td>배정금액</td>
                    <td>-원</td>
                </tr>
                <tr>
                    <td>모집기간</td>
                    <td>23.05.10~23.06.15</td>
                </tr>
                <tr>
                    <td>수익률</td>
                    <td>-%</td>
                </tr>
                <tr>
                    <td>위험도</td>
                    <td>-</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="invest-people-wrapper">
        <span class="invest-people">투자자</span>
        <span class="invest-name">김 OO님</span>
</div>

<div class="box-wrapper">
        <div class="invest-info-wrapper">
            <div class="invest-title">포트폴리오 목록</div>

            <table class="portfolio-table">
                <tr>
                    <th>제목</th>
                    <th>등록일자</th>
                    <th>투표기간</th>
                    <th>받은투표수</th>
                    <th>전체투표수</th>
                </tr>
                <tr>
                    <td>2차전지+타이어</td>
                    <td>23.05.15</td>
                    <td>23.05.13~23.05.23</td>
                    <td>3</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>NFT+중고차</td>
                    <td>23.05.20</td>
                    <td>23.05.17~23.05.27</td>
                    <td>5</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>화장품</td>
                    <td>23.05.20</td>
                    <td>23.05.17~23.05.27</td>
                    <td>6</td>
                    <td>20</td>
                </tr>
            </table>
        </div>
</div>
</div>


</body>
</html>
