<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/testwc/layout}"
>
<th:block layout:fragment="content"/>
    <th:block th:replace="/order/order_head :: orderHeadFragment"></th:block>

    <script th:inline="javascript">
        var postId = [[${postDto.id}]];
    </script>

    <script type="text/javascript">
        $(Document).ready(function () {
            // 포트폴리오 투표 클릭
            $("#goPFList").on("click", function () {
                location.href = "/portfolio?postId=" + postId;
            });
        });
    </script>


    <div class="d-flex flex-column wrapper">
        <div>
            <h2><span th:text="${postDto.title}">title</span></h2>
        </div>
        <div>
            <span th:text="${postDto.createdAt}" class="gray_text bottom_line">createdAt</span>
        </div>

        <div style="margin-top: 1rem; padding-bottom: 1rem;" class="bottom_line">
            <span th:text="${postDto.contentPost}" class="fontSize-fix">content</span>

            <div>
                <button class="rightArea left_margin bg-yellow paddingBtn paddingBtn-plus"><a
                        th:href="@{/post/detail/{id}/like(id=${postDto.id})}"><span th:text="${postDto.likePost}"
                                                                                    class="fontSize-fix">likePost</span></a>
                </button>

                <button class="rightArea left_margin bg-yellow paddingBtn paddingBtn-plus"><a
                        th:href="@{/post/delete/{id}(id=${postDto.id})}">삭제</a></button>
                <button class="rightArea bg-yellow paddingBtn paddingBtn-plus"><a
                        th:href="@{/post/edit/{id}(id=${postDto.id})}">수정</a></button>
            </div>
        </div>

        Expand All
        @@ -51,40 +45,18 @@ <h2><span th:text="${postDto.title}">title</span></h2>
    </div>

    <div style="margin-top: 1rem;">
        <span class="fontSize-fix">댓글 </span>
        <span class="fontSize-fix" th:text="${replyCount}"> </span>
        <!--            <div style="margin-top: 0.5rem; padding-bottom: 1rem;">-->
        <!--                <button class="rightArea left_margin bg-yellow paddingBtn paddingBtn-plus">입력</button>-->
        <!--                <input type="text" class="width92 leftArea border-yellow paddingBtn"/>-->
        <!--            </div>-->

        <form name="replyForm" action="/reply/write" method="post" autocomplete="off">
            <div class="form-group">
                <input type="hidden" name="id" th:value="*{postDto.id}"/>
                <textarea name="contentReply" class="form-control" rows="3" placeholder="댓글을 입력해주세요."></textarea>
            </div>
            <button type="submit" class="btn btn-warning" style="margin-top:15px;">등록</button>
        </form>

        <!--            <form method="post" th:action="@{reply/write}" th:object="${replyForm"}>-->
        <!--                <div style="width:100%;">-->
        <!--                    <input type="text" th:field="*{contentReply}" style="width:100%;" placeholder="댓글을 입력해주세요."></input>-->
        <!--                </div>-->
        <!--                <div class="d-flex justify-content-end">-->
        <!--                    <button type="submit" class="btn btn-warning" style="margin-top:15px;">등록</button>-->
        <!--                </div>-->
        <!--            </form>-->
    </div>

    <div>
        <div style="margin-top: 3rem;">
            <table>
                <tr th:each="ele: ${replyList}" style="border-top: 2px solid black;">
                    <td><span th:text="${ele.getContentReply()}"></span></td>
                    <td th:text="${ele.getCreatedAt()}"></td>
                    <td><a th:href="@{/reply/delete/{id}(id=${ele.getId()})}">삭제</a></td>
                </tr>
            </table>
        </div>
    </div>
    </html>