<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/testwc/layout}"
>

<th:block layout:fragment="content">
    <th:block th:replace="/order/order_head :: orderHeadFragment"></th:block>

    <div class="d-flex flex-column wrapper">
        <div class="fontSize-fix bottom_line" style="padding-bottom:10px;">아이디어 수정</div>

        <form method="post" th:action="@{/post/edit/{id}(id=${postId})}" th:object="${postForm}" >
            <div class="d-flex flex-column">
                <div style="width:100%; margin-top:20px;">
                    <textarea name="title" class="form-control" rows="1" placeholder="제목을 입력해주세요." th:field="*{title}"></textarea>
                </div>

                <div style="margin-top:20px;">
                    <textarea name="contentPost" class="form-control" rows="5" placeholder="내용을 입력해주세요." th:field="*{contentPost}"></textarea>
                </div>
            </div>

            <div th:replace="form_errors :: formErrorsFragment"></div>
            <br>
            <span style="margin-top: 10px;">※ 주의해주세요!</span>
            <span style="margin-top:10px;">광고, 스팸성 게시글, 업종 및 종목명을 기재하지 않은 글은 통보 없이 관리자에 의해 삭제될 수 있습니다.</span>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-warning" style="margin-top:15px;">등록</button>
            </div>
        </form>



    </div>
    <div th:text="${curCollect}"></div>

    <style>
        .fontSize-fix {
            font-size: 1.2rem;
        }

        .paddingBtn {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }

        .bottom_line {
            border-bottom: 1px solid darkgray;
        }

        .rightArea {
            float: right;
        }

        .border-yellow {
            border: 1px solid #ffc107;
        }

        .width100 {
            width: 100%;
        }
    </style>
</th:block>
</html>